# Ignorar CSV en Preparacion_CSV
/Machine_Learning/data/Archivos_CSV_con_etiquetas/*.csv
/Machine_Learning/dataArchivos_CSV_sin_etiquetas/*.csv
/Lectura_Dispositivo_Navegacion/data_csv/*.csv
/Lectura_Dispositivo_Navegacion/data_raw/*.csv
/Lectura_Dispositivo_Navegacion/data_csv/Mediciones_Manuales/*.csv
/Lectura_Dispositivo_Navegacion/data_raw/Mediciones_Manuales/*.csv
/Preparacion_CSV/Archivos_CSV_con_etiquetas/*.csv
/Preparacion_CSV/Archivos_CSV_sin_etiquetas/*.csv
/Preparacion_CSV/Archivos_CSV_sin_etiquetas_dateOK/*.csv
# Python / Notebooks / General
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pkl
.DS_Store
.env
venv/
env/
.venv/